/*Navbar styling*/
.navbar-nav li a {
    padding: 0 15px;
    line-height: 80px;
}

@media only screen and (max-width: 600px) {
    .navbar-nav li a {
        padding: 0 15px;
        line-height: 40px;
        text-align: center;
        font-size: 25px;
    }
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-header a {
    padding: 0 15px;
    line-height: 80px;
}

.navbar-toggle {
    background-color: #BB4C02 !important;
    border: none !important;
    margin-left: 11px !important;
}

.icon-bar {
    background-color: white !important;
    width: 30px !important;
    height: 3px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.navbar-form > .input-group {
    padding: 0 15px;
    line-height: 60px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .navbar-form > .input-group {
        padding: 0 15px;
        line-height: 40px;
        width: 90%;
    }

    form.navbar-form.navbar-right {
        box-shadow: none;
    }
}

ul.nav li a,
ul.nav li a:visited {
    color: white !important;
    text-decoration: none;
}

ul.nav li a:hover,
ul.nav li a:active {
    color: white !important;
    text-decoration: none;
}

ul.nav li.active a {
    color: white !important;
    text-decoration: none;
}

nav .navbar-header a:visited {
    color: white !important;
    text-decoration: none;
}

nav .navbar-header a:hover,
nav .navbar-header a:active {
    color: white !important;
    text-decoration: none;
}

.logo {
    width: 75px;
}
